.auth-page {
  padding: 8% 0 0;
  margin: auto;
  max-width: 80%;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  border-radius: 4px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: $primary-color;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3 ease;
  border-radius: 6px;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: $primary-color;
}
.form .message {
  margin: 15px 0 0;
  color: #494949;
  font-size: 12px;

  a {
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}
.form .message a {
  color: $primary-color;
  text-decoration: none;
}